.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 0.8rem;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.spanCancel {
  color: var(--primaryColor);
}
.heading {
  font-family: var(--primaryFont);
}

.headingH {
  color: #858585 !important;
}

.statusSuccess {
  color: rgb(25, 135, 84) !important;
}
.statusWarning {
  color: rgb(255, 193, 7) !important;
}
.statusFail {
  color: var(--primaryColor) !important;
}
