@font-face {
  font-family: "primaryFont";
  src: url("assets/fonts/Cairo.ttf") format("truetype");
}

body {
  padding: 0;
  margin: 0;
}

:root {
  --primaryFont: "primaryFont";
  --primaryColor: #e30613;
  --secondaryFont: #000000;
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  height: 115vh;
}

body {
  margin: 0 !important;
  padding: 0 !important;
  overflow: unset !important;
}

::placeholder {
  color: gray !important;
}
